.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  gap: .75rem;

  padding: 1.5rem;
  margin-bottom: .75rem;
  border-radius: 8px;

  color: var(--gray-100);

  background: var(--gray-500);
}

.container button {
  background: transparent;
  /* width: rem; */
  width: 1.5rem;
  height: 1.5rem;
  border-radius: calc(3rem / 2);
  border: solid 1px var(--blue);
}

.checkedCircle {
  color: var(--purple-dark);
  line-height: 0;
}

.checkedCircle:hover {
  cursor: pointer;
  color: var(--purple);
}

.circle {
  color: var(--blue);
  line-height: 0;
}

.circle:hover {
  cursor: pointer;
}

.buttonDelete {
  color: var(--gray-300);
  
  border-radius: 8px;
  padding: 5px;
  line-height: 0;

  transition: color 1s, background-color 1s;
}

.buttonDelete:hover {
  cursor: pointer;
  color: var(--red-500);
  background-color: var(--gray-400);
}

.textChecked {
  color: var(--gray-300);
  font-style: italic;
  text-decoration: line-through;
}